body{
	font-family: Verdana, Arial, sans-serif; 
	background-color: white;  
}
#logo{
	float: left;
	padding: 4px;
}
#nav {
	width: 100%;
	float: right; 
	padding-bottom:10px; 
	border-bottom: 0px;  
	list-style: none; 
	display: inline;
}

#nav li{
	float: right; 
	list-style: none;  
	padding: none;
}

#nav li a{
	display: block;   
	color: black;
	border-right: 2px; 
	padding-bottom: 20px;
	padding-right: 20px; 
	padding-left: 20px;
	padding-top: 20px; 
	text-align: center; 
	text-decoration: none; 
	letter-spacing: 2px; 
	margin-right: 10px;
}

#nav li a:hover:not(.active){
	color: black;  
	background-color: #ffe45e;
}

.active{
	background-color: #7fc8f8;
	color: black; 
}