body{
	font-family: Verdana, Arial, sans-serif; 
  width: 100%;
  height: 100%; 
	margin-left: 20px;
	padding: 0; 
  margin-right: 20px;
  color: #444;
  font-size: 1rem;
  line-height: 1.5;
}
body #wrapper{
  margin: 20px; 
}
#nav {
	width: 100%;
	float: right; 
	padding-bottom:0px; 
	margin-top: 20px; 
	border-bottom: 0px;  
	list-style: none; 
	display: inline; 
  margin-bottom: 100px;
  overflow: auto; 
}
#logo
{
	float: left;
	display: inline-block;
  padding-right: 15px; 
}

#nav li{
	float: ; 
	list-style: none;  
	padding: 0;
	display: inline-block; 
}

#nav li a{
	color: black;
	border-right: 2px; 
	padding-bottom: 20px;
	padding-right: 20px; 
	padding-left: 20px;
	padding-top: 20px; 
	text-align: center; 
	text-decoration: none; 
	letter-spacing: 2px; 
	margin-right: 10px;
	border-radius: 20px;
}

#nav li a:hover:not(.active){
	color: black;  
	background-color: #ffe45e;
}

.active{
	background-color: #7fc8f8;
	color: black; 
}

.logo-img {
	position: absolute;
	left: 10px; 
	top: 10px; 
	margin: 0px 15px 15px 0px;
  padding-right: 30px; 
	padding: 20px; 
	display: inline-block;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  float: right;
  margin-top: -5px;
  display: inline-block;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-instagram {
  color: #7fc8f8;
}

.fa-facebook{
  color: #7fc8f8;
}
.footer{
  padding: 20px; 
  text-align: center;
  background-color: black; 
}

.slider-wrapper img {
  width: 50%;
  float: center;
  height: 500px;
  vertical-align: middle;
}

.trigger {
  display: none;
}

.slider, .slider-wrapper {
  position: relative;
  height: 500px;
}

.slide {
  background-color: white;
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5000;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.slide-img {
  filter: brightness(95%);
  height: 100%;
  object-fit: fill;
  display: block;
  margin: 0 auto;
}

.slide-figure {
  height: 100%;
  position: relative;
  margin: 0;
}

.slide-caption {
  position: absolute;
  bottom: 30%;
  color: white;
  text-align: center;
  left: 50%;
}

.trigger:checked + .slide {
  z-index: 6000;
  opacity: 1;
}

.slider-nav {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

.slider-nav__item {
  display: inline-block;
}

.slider-nav__label {
  font-size: 13px;
  background-color: #ffe45e;
  display: block;
  height: 2em;
  line-height: 2em;
  width: 2em;
  text-align: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: background-color .25s, color .25s ease-in-out;
  float: center; 
}

.slider-nav__label:hover,
.slider-nav__label:active,
.slider-nav__label:focus {
  color: black;
}

.container{
  position: relative;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}